@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { margin: 0; padding: 0; }

.subscription-wrapper {
  background-image: url('./assets/img/subscription-background.jpg');
}

.login,
.signup {
  background-size: cover;
  background-image: url('./assets/img/plane.jpg');
}

.contact {
  background-size: cover;
  background-image: url('./assets/img/contact.jpg');
}


